@{
    ViewData["Title"] = "OPD";
}

<div class="text-center">
    <h1 class="display-4">OPD Services</h1>
    <p>Outpatient Department services for your healthcare needs.</p>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Family Physician</h5>
                    <p class="card-text">Personalized health solutions from our in-house Family Physicians for you & your family anytime anywhere.</p>
                    <a href="#" class="btn btn-primary">Book Appointment</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Specialists</h5>
                    <p class="card-text">Schedule an appointment with our top specialists for specific health concerns.</p>
                    <a href="#" class="btn btn-primary">Book Appointment</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="mt-5">
        <h2>Available Departments</h2>
        <div class="row mt-3">
            <div class="col-md-4">
                <ul class="list-group">
                    <li class="list-group-item">Anesthesiology</li>
                    <li class="list-group-item">Cardiology</li>
                    <li class="list-group-item">Dentistry</li>
                    <li class="list-group-item">Dermatology</li>
                    <li class="list-group-item">Dieteics</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-group">
                    <li class="list-group-item">Endocrinology</li>
                    <li class="list-group-item">ENT</li>
                    <li class="list-group-item">Internal Medicine</li>
                    <li class="list-group-item">Minimal Access and General Surgery</li>
                    <li class="list-group-item">Nephrology</li>
                </ul>
            </div>
        </div>
    </div>
</div>
